@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

body{
background:white;
padding: 0;
margin: 0;
font-family: 'Roboto Slab', serif;
}

img {
max-width:100%;
}

header .container-fluid  {
    padding:0px;
}

header .navbar {
  margin-bottom:0px;
   }
 
   header .navbar-collapse{
   color:white;
}
.navbar-brand > img {
   
    height: 48px;
    margin-top: -15px;
}
.navbar-default .navbar-brand {
    color: #ffff;
  font-size: 16px;
}
.container-fluid navigation >.navbar navbar-default {
    background-color: #0067c7;
    border-color: #0067c7;
}
.search_banner{
width:100%;
float:left;
}

.features{
float:left;
width:100%;
padding-bottom:0px;
}

.Main_features {
  border: 1px solid #eee;
  min-height: 300px;
  padding: 19px 20px;
  text-align: center;
  border-bottom:none;
  border-top:none;
}

.Main_features{
float:left;
padding-bottom:25px;
}

.Main_features h3{
  font-size:20px;
  }
  
.Main_features img{
width:100%;
min-height: 160px;
}
#slider {
  padding: 2% 0;
  padding-top: 3%;
}

#slider .carousel-control{
width:2%;
  background-image:none;
  
}

    h2{
 font-size:30px;
 margin-top: 20px;
}
.t_school img{
height:150px;
width:260px;
}
.Trend_School {
float:left;
width:100%;
padding:40px 0;
}

.t_school h5{
margin-top: 10px;
    margin-bottom: 20px;
  font-size:13px;
  }
  .Trend_School h5{
  margin-bottom: 20px;
  }
  
.media-left{
    float: left;
    width: 200px;
}

.media-object { 
    height: 162px;
  
}
.media-body {
   
    padding-bottom: 6%;
}
.Guidance{
float:left;
width:100%;

}
.guide{
padding-bottom:35px;
padding-top: 20px;
}
.guide h3{
    float: left;
    padding: 0px;
    margin-top: -10px;
margin-bottom: 10px;
    font-size: 25px;
}
.guide form{
float:left;
width:100%;
}
.footer{
float:left;
width:100%;
}
.bottom ul {
 float: left;
list-style: outside none;
padding: 5px 0px;
}

.bottom li a{
color:black;
font-size:14px;
}
.heading p{
font-size: 16px;
}
/* navigation */
.navigation nav.navbar.navbar-default {
  background: #337ab7 none repeat scroll 0 0;
  color: #fff;
  border: none;
  border-radius: 0;
}

.navigation nav.navbar.navbar-default li a {
  color: #ffffff;
}

.navigation .navbar-default .navbar-nav  a:focus,
.navigation .navbar-default .navbar-nav  a:hover {
  background-color: #17568d;
}

.navigation .navbar-default .navbar-nav > .active > a,
.navigation .navbar-default .navbar-nav > .active > a:focus,
.navigation .navbar-default .navbar-nav > .active > a:hover {
  background-color: #17568d;
  color: #ffffff;
}

.navigation  .navbar-default .navbar-nav > .open > a,
.navigation  .navbar-default .navbar-nav > .open > a:focus,
.navigation  .navbar-default .navbar-nav > .open > a:hover {
    background-color: #17568d;
    color: #ffffff;
}

.navigation  .dropdown-menu {
  background-color: #337ab7;
  
}


/*slide*/

.slide .carousel-caption {
  bottom: 20%;
}

/*search*/
.container.search_control {
  background: #17568d;
  border-radius: 5px;
  margin-top: -43px;
  max-width: 800px;
  padding: 18px;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 13px rgba(0,0,0,0.2);
}

.search_control div {
  margin-left: -1px;
  padding: 0;
}

.search-container .search_control .btn {
  border-radius: 0;
  font-size: 18px;
  line-height: 24px;
  width: 100% !important;
}

 .search_control  .form-control {
  border-radius: 0;
}

/*featured*/
.Main_features h3 {
  font-size: 19px;
  color:#17568d;
}

.Main_features p {
  font-size: 12px;
}

.tab_schools .nav.nav-tabs {
  float: left;
  width: 100%;
  text-align: right;
  margin-top: 30px;
  border-bottom: 1px solid #17568d;
  margin-bottom: 20px;
}

.tab_schools  .nav-tabs > li {
  float: none;
  margin-bottom: -1px;
  display: inline-block;
}

.texts{
float: left;
  width: 100%;
  }
  
  .tab_schools .nav-tabs > li.active > a,
  .tab_schools .nav-tabs > li.active > a:focus, 
    .tab_schools .nav-tabs > li.active > a:hover {
  color: #ffffff;
  background-color: #17568d;
}

.tab_schools .nav > li > a:focus, 
.tab_schools .nav > li > a:hover {
   color: #ffffff;
  background-color: #17568d;
}
/*tab pane*/
.tab-pane img{
padding:4px 0px;
} 

.tab-content{
padding-left:0px;
}

.nav-tabs {
    border-bottom: 0 solid #ddd;

}
  
/*Guidance*/  
.media-heading {
    margin-top: 0;
    margin-bottom: 8px;
  
}
.media-body h4 {
    font-size: 22px;

}
.media-body p{
color: #666;
    font-weight: 300;
    font-size: 13px;
  }
/*footer*/
.dark{
float:left;
width:100%;
background:black;
color:white;
position: fixed;
bottom:0;
z-index: 20;
}


.head5 {
    font-size: 21px;
  margin-bottom: 10px
}
.f-list {
    padding-left: 0px;
    font-size: 14px;
  color: #ffffff;
}
.f-list h3{
margin-top: 0;
    margin-bottom: 12px;
  font-size:14px;
  color:black;
  }
  
.f-list  li {
    list-style: outside none;
}
.f-list  h3{
color:#cccc;
}

.f-list a {
    color: #cccc;
    text-decoration: none;
}

.f-lists {
    padding-left: 0px;
    font-size: 14px;
  color: #ffffff;
}

.f-lists a {
    color: #cccc;
    text-decoration: none;
}

.f-lists  li {
    list-style: outside none;
}

.f-lists li h3{
  margin-top: 0;
    margin-bottom: 12px;
  font-size:14px;
  color:#ffffff;
}

h2 {
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
  color: #5cb85c;
  float: left;
  width: 100%;
  /* border-bottom: 1px dashed #eee; */
  margin-bottom: 20px;
  margin-top: 20px;
}

.tab_schools h3 {
  margin-top: 15px;
}

.texts h4 {
    color: #666;
    font-weight: 300;
  font-size:17px;
}

.Trend_School h5 {
  color: #666;
  font-weight: 300;
  text-align: center;
  font-size: 17px;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 0;
}

.t_school h5 {
  font-size: 16px;
  float: left;
  width: 100%;
  margin-top: 10px;
  line-height: 22px;
  min-height: 49px;
  margin-bottom: 20px;
}

.container-fluid.tab_schools {
  float: left;
  width: 100%;
  padding: 3% 0;
  /*background: #fcfcfc;*/
  /*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/
  padding-top: 2%;
  /*margin-top: 3%;*/
  margin-bottom: 5%;
}

.heading p {
    color: #666;
    font-weight: 300;
    font-size: 15px;
}

.primary-footer {
    padding: 3% 0;
}

.primary-footer.botom_f {
  float: left;
  width: 100%;
  background: #555555;
  padding: 3% 0;
}

.secondary-footer {
  float: left;
  padding: 1% 0;
  text-align: center;
  width: 100%;
}
.guide form {
  background: #ececec none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 0 5px #a8a8a8 inset;
  float: left;
  padding: 20px;
  width: 100%;
  padding-bottom:5px;
}
.guide.query{
margin-top:0%;
}

.border_con{
  border-bottom: 1px solid #eee;
  padding: 8px 0px;
}


/*login*/
.row1 {
    background: rgba(0, 0, 0, 0) url(../image/blur_img.jpg) no-repeat scroll 0 0 / cover;
    float: left;
    width: 100%;
     /*height: 100%; */
    padding-bottom: 118px;
    padding-top: 50px;
}


.form-horizontal_row1 {
    background: rgba(255,255,255,0.7);
    padding: 2% 0%;
    /* margin: 4% 25%; */
    max-width: 700px;
    /* padding-bottom: 239px; */
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 4%;
    float: none;
    margin: 0 auto;
}

.form-horizontal_row5{
    background:rgba(255,255,255,0.7);
    padding: 2% 0%;
    margin: 4% 25%;
    max-width: 700px;
    padding-bottom: 239px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 4%;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
    font-size: 16px;
    width:22%;
    text-align:center;
}
.form-group{
    width:100%;
    float:left;
}
.form-group a{
    color:#333;
    margin-left:12px;
}

.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
}
.login{
    width:85%;
    text-align:center;
    padding-bottom:15px;
    font-size:27px;
    color: #5cb85c;
    margin:2%;
    margin-top: 4px;
}
.login h4{
    margin-top:25%;
}

.register{
    font-size: 40px;
    color:#5cb85c;
    text-align:center;
    margin-bottom: 30px;
}


/*gallery css*/
.gallery-title
{
    font-size: 40px;
    color: #5cb85c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
 margin-top: 40px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #5cb85c;
    border-radius: 5px;
    text-align: center;
    color: #5cb85c;
    margin-bottom: 20px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
    height:200px;
}

.g_img {
    background: #ccc none repeat scroll 0 0;
    float: left;
    height: 150px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

/*reetu*/

/*create Forum*/
.form-horizontal_row3{
  background: rgba(255,255,255,0.7);
  padding: 2% 0%;
  margin: 2% auto 5% auto;
  max-width: 700px;
  padding-bottom: 36px;
  border-radius: 10px;
  font-size: 16px;
}
.register_1{
  font-size: 30px;
  color: #5cb85c;
  text-align: center;
  margin-bottom: 30px;
}
  
.row3{
  background:rgba(0, 0, 0, 0) url("../../image/thinkkk.jpg") no-repeat scroll 0 0 / cover ;
  float: left;
  width:100%;
}

  /*Discussion*/
.row2{
  background:rgba(0, 0, 0, 0) url("../../image/hands.jpg") no-repeat scroll 0 0 / cover ;
  float: left;
  min-width:100%;
  min-height: 100%;
}
.form-horizontal_row2{
  background:rgba(135,206,250,0.3);
  padding: 2% 0%;
  margin: 4% 25%;
  max-width: 700px;
  /*padding-bottom: 273px;*/
  float:left;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 4%;
}

.discuss {
  width: 99%;
  text-align: center;
  padding-bottom: 15px;
  font-size: 27px;
  color: #4aa64a;
  margin: 2%;
  margin-top: -11px;
}

.div_static{
  text-align: justify;
}

.div_static h1{
  font-size: 40px;
  color: #5cb85c;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 40px;
}

.div_static p{
  font-size: 18px;
}