 html, body {
                background-color: #fff;
                color: #000;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
            .panel-default {
            box-shadow: 0px 0px 7px #888888;
            border: 1px solid black;
            animation: opac 0.8s;
                -webkit-animation: opac 0.8s;
            }
        .panel-default>.panel-heading {
            color: #000;
            background-color: transparent;
            text-align: center;
            font-weight: 900;
            font-size: larger;
            border-color: #000;
            }
        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            }
            .btn-primary {
    color: #fff!important;
    background-color: #000!important;
    border-color: #000!important;
    -webkit-transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
   transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.btn-primary:hover,.btn-primary:focus {
    color: #000!important;
    background-color: #FFF!important;
    border-color: #000!important;
}








@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.delete_user_none{
  display: none;
}
.delete_user_block{
  display: block;
}
/*neha*/

#user-search {
  } 

/* endcode */
/* css for user profile admin/dashboard/user/show/image*/

/*#user-img{
    float:left;
    width:50px
    height:250px;
    overflow:hidden;
    color:white;
    font-size:13px;
    background-size:100% 100%;
    declare shape using the shape function circle()
    shape-inside: circle(160px at 400px 60px);
}*/
/*.profile_picture{
  position: relative;
}*/

.profile_picture img{
  width:100%;
  transition: opacity 1s;
}

.profile_picture img:hover{
  opacity:0.5;
}

.profile_picture a{
  text-decoration: none;
  color:red;
}

.profile_picture:hover p{
  visibility:visible;
}
.profile_picture p{
  font-size: 25px;
  font-weight: 900;
  position:relative;
  bottom:200px;
  left:50px;
  visibility:hidden;
}
.src_err{
  font-size:30px;
  color:#ffffff; 
  font-weight: 500;
}