 html, body {
                background-color: #fff;
                color: #000;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
            .panel-default {
            box-shadow: 0px 0px 7px #888888;
            border: 1px solid black;
            animation: opac 0.8s;
                -webkit-animation: opac 0.8s;
            }
        .panel-default>.panel-heading {
            color: #000;
            background-color: transparent;
            text-align: center;
            font-weight: 900;
            font-size: larger;
            border-color: #000;
            }
        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            }

            .btn-primary {
            color: #fff!important;
            background-color: #000!important;
            border-color: #000!important;
            -webkit-transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
           transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
        }
.btn-primary:hover,.btn-primary:focus {
    color: #000!important;
    background-color: #FFF!important;
    border-color: #000!important;
}

.page-header {
    padding-bottom: 10px;
    margin: 44px 0 22px;
    border-bottom: 1px solid red;
}

 #map {
     height: 300px;
     width: 100%;
     padding-bottom: 2%;
     margin-top: 3%;
     border: 2px solid red;
     border-radius: 10px;
     margin-bottom: 3%;
 }

.qusetion{
    border: solid;
    border-color: darkgray;
    background-color: slategrey;
}
/* css for the school register blade */

#school_box{

    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    width: 100%;
    font: italic bold 12px/30px Georgia, serif;
    font-weight: bold;
}

 .school-header{
     text-align: center;
     font: italic bold 20px Georgia, serif;
     font-weight: bold;
     text-shadow: 2px 2px 5px red;
 }
#school_box h3{

    text-align: center;
    font: italic bold 12px/30px Georgia, serif;
    font-weight: bold;

}


/* css for school show */
 #show-rounder {
     border-bottom-left-radius: 1%;
     border-bottom-right-radius: 1%;
     background-color: whitesmoke;
     background-position: left top;
     background-repeat: repeat;
     padding: 20px;
     width: auto;
     height: 100%;
 }

 #school-profile img{
     float:left;
     width:100%;
     height:300px;

 }


 /* css for school regiser */
.google-map{
    border: 1px solid;
    border-radius: 10px;
}
 #location{
     float:right;

 }



    /* css for show forum*/
 .view{
     border-bottom-left-radius: 1%;
     border-bottom-right-radius: 1%;
     background-color: whitesmoke;
     background-position: left top;
     background-repeat: repeat;
     padding: 20px;
     width: auto;
     height: 100%;


 }
 .modal-body-reviews{
     margin: 5%;
     padding: 5%;
     color: black;
     background-color: #66cac4;

 }
#reviews{
    resize:none;
}
 .forum-title,.forum-description{
     font-size: medium;
     background-color: white;
     color: red;
     margin: 5%;
     padding: 1%;
 }


 /* css for School ratings*/
 fieldset, label { margin: 0; padding: 0; }
 body{ margin: 20px; }
 h1 { font-size: 1.5em; margin: 10px; }

 .rating {
     border: none;
     float: left;
 }

 .rating > input { display: none; }
 .rating > label:before {
     margin: 5px;
     font-size: 1.25em;
     font-family: FontAwesome;
     display: inline-block;
     content: "\f005";
 }

 .rating > .half:before {
     content: "\f089";
     position: absolute;
 }

 .rating > label {
     color: #ddd;
     float: right;
 }

 .rating > input:checked ~ label,
 .rating:not(:checked) > label:hover,
 .rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

 .rating > input:checked + label:hover,
 .rating > input:checked ~ label:hover,
 .rating > label:hover ~ input:checked ~ label,
 .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* Ende of school ratings*/

 @-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.delete_user_none{
  display: none;
}
.delete_user_block{
  display: block;
}
/*neha*/

#user-search {
  }

/* endcode */
/* css for user profile admin/dashboard/user/show/image*/

/*#user-img{
    float:left;
    width:50px
    height:250px;
    overflow:hidden;
    color:white;
    font-size:13px;
    background-size:100% 100%;
    declare shape using the shape function circle()
    shape-inside: circle(160px at 400px 60px);
}*/
/*.profile_picture{
  position: relative;
}*/
#user-img img {
    float:left;
    border-radius: 50%;
    width:300px;
    height:300px;
}
 #user-edit{
     border-radius: 25px;
     border: 2px solid #73AD21;
     margin: 21px;

 }

#user-edit img{
    float:left;
    width:200px;
    height:200px;
    padding:2%;
}
.profile_picture img{
  width:100%;
  transition: opacity 1s;
}

.profile_picture img:hover{
  opacity:0.5;
}

.profile_picture a{
  text-decoration: none;
  color:red;
}

.profile_picture:hover p{
  visibility:visible;
}
.profile_picture p{
  font-size: 25px;
  font-weight: 900;
  position:relative;
  bottom:200px;
  left:50px;
  visibility:hidden;
}
.src_err{
  font-size:30px;
  color:#ffffff;
  font-weight: 500;
}

.pro_pic {
    width: 25%;
    float: left;
}

.img-circle.profile_img {
    width: 100%;
    background: #fff;
    z-index: 1000;
    position: inherit;
    border: 1px solid rgba(52,73,94,.44);
    padding: 4px;
}

.img-circle {
    border-radius: 50%;
}
.profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    margin-top: 10px;
    font-weight: 300;
    width:100px;
}
.profile{
  width:200px;
  height:25px;
}



/*guests*/
.school_dp{
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  border:1px solid lightgreen;
  box-shadow: 0px 0px 10px lightgreen;
}

.school_dp img{
   min-height: 100%;
  min-width: 100%;
  /* modern browsers */
  /*opacity: 0;*/
}

/*bookmark icon*/
.bookmark_class{
  font-size: 30px;
  color:lightgrey;
  cursor:pointer;
}
.bookmark_icon_glow{
  cursor:pointer;
  color: gold;
  font-size: 30px;
  text-shadow: 2px 0px 2px silver;
}

/*stars ratings*/
/*fieldset, label { margin: 0; padding: 0; }*/
.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 2em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating_box{
  width:100%;
  text-align: center;
}
/*rating styling close*/

.non_user{
  float:left;
  margin-top: 5px;
}
.modal-title{
  width:auto;
  float:left;
  margin-right: 5px;
}

.x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}
.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.x_title h3 {
    margin: 5px 0 6px;
    float: left;
    display: block;
}
.panel_toolbox {

    float: right;
    min-width: 70px;

}
.x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
}
.x_content, table.tile td ul li a, table.tile_info {
  width: 100%;
}
.x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.widget_summary {
  width: 100%;
  display: -ms-inline-flexbox;
  /*display: inline-flex;*/
}
/*.t_school:hover {
  color:red;
}*/

.faq_anchor{
  color: inherit;
}
.faq_anchor:hover{
  color:lightgreen;
}
/*.bookmark_img{
  position: absolute;
  width:10%;
  height: 10%;
}*/

.school_main{
  text-align: center;
}
.review_container{
  margin:20px 0px ;
}
.review_form{
  margin:20px 0px ;
}

.profile_circle{
  width:100px;
  height:100px;
}

