 html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif !important; 
                font-weight: 100 !important;
                height: 100vh;
                margin: 0;
            }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 20px;
}
.navigation{
    border:none;
    margin-bottom:0px;
    font-size: 18px;

}
.con img{
    position:relative;
    width:100%;
}
.nav_search{
    height:50px;
    padding:0px 20px;
}
.box{
    position: absolute;
    float:left;
    width:34%;
    height:50%;
    color:#ffffff;
    left: 10%;
    top: 20%;
    z-index: 1000;
    background:rgba(0,0,0,0.5);
    padding:0px 20px;
    border-radius: 5px;
}
